@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  color:rgba(255, 255, 255, 0.89);
  font-family: 'Space Mono', monospace;
  background-color: #010001;
}

.header {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 35px;
} 

.mainSection{
  height: 450px;
  display: flex;
  margin: 0px 35px;
}

.mainSection2{
  height: auto;
  margin: 0px 25px;
  /* border: 1px solid red; */
}

.sectiond{
  /* border: 1px solid green; */
}

.cardContent{
  display: flex;
  justify-content: left;
  align-items: center;
  padding:10px 15px;
}

.supText{
  color: #199C16;
  font-size: 10px;
}

.cardTitle{
  font-weight: bold;
  font-size: 15px;
  padding-bottom:10px;
}

.cardText{
  font-weight:300;
  font-size:13px;
  padding-bottom:10px;
}

.section1{
  width:50%;
  display: flex;
  justify-content: left;
  align-items: center;
  /* border:1px solid red; */
}

.section3{
  width:45%;
  display: flex; 
  justify-content: left; 
  align-items: center;
  /* border:1px solid red; */
}

.section4{
  width:55%;
  border:1px solid red;
}


.section2{
  width:55%;
  display: flex;
  /* border:1px solid red; */
}

.aboutText{
  padding:20px 7px; 
  /* border:1px solid red; */
  font-size: 15px;
  font-weight: 300;
}

.navItem{
  /* padding-right: 30px; */
  font-weight: 300;
}


.bigText{
  font-size: 25px;
  font-weight:bold;
}

.text{
  font-size: 18px;
  font-weight:bold;
}

.smallText{
  font-size: 15px;
  font-weight:300;
}

.mainText{
  font-size: 17px;
  font-weight:bolder;
}

.subText{
  font-size: 16px;
  font-weight: 300;

}

.btnSpecial{
  background: #199C16;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  /* border-bottom-left-radius:5px ;*/
   border-bottom-left-radius:3px ; 
}

.btnSocial{
  background: #31363B;
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  margin-right:10px;
  font-size: 15px;
  border-radius:3px ; 
}



.card{
  width:30%;
  height:80px;
  border-radius:5px;
  background-color: #31363B;
  color:white;
  font-weight: 300;
}

.card2{
  width:30%;
  height:170px;
  border-radius:5px;
  background-color: #14171c;
}


.cardSection{
  margin: 0 10px;
}

.layer{
  display: flex;
  margin:25px 5px;
  padding:5px 25px;
  justify-content: space-between;
}

.skillNav{
  display:flex;
  /* border:1px solid red; */
  justify-content: end;
  margin-bottom:20px;
}

.color{
  color:#199C16;
}


.btn {
  background-color:#000;
  color: #13B90F;
  border: 1px solid #fff;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  font-family: inherit;
}

.mainBtn{
  border: 1px solid #199C16;
}

.main{
  display:flex;
  justify-content:end;
}


.footer {
  text-align: center;
}

.footerList{
  display:flex;
  justify-content: center;
  padding:10px 0px;
}

.footerItem{
  font-size: 14px;
  font-weight:300;
  padding-right: 45px;
}
