@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  color:rgba(255, 255, 255, 0.89);
  font-family: 'Space Mono', monospace;
  background-color: #010001;
}

.header {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 35px;
} 

.mainSection{
  height: 400px;
  display: flex;
  margin: 0px 35px;
  border:1px solid red;
}

.cardContent{
  display: flex;
}

.section1{
  width:40%;
  display: flex;
  justify-content: left;
  align-items: center;
  /* border:1px solid red; */
}

.section3{
  width:55%;
  display: flex;
  justify-content: left;
  align-items: center;
  /* border:1px solid red; */
}

.section2{
  width:60%;
  display: flex;
  /* border:1px solid red; */
}

.aboutText{
  padding:5px 25px;
  margin: 25px 10px;
  /* border:1px solid red; */
  font-size: 15px;
  font-weight: 300;
}

.navItem{
  padding-right: 30px;
  font-weight: 300;
}

.text{
  font-weight: 300;
}

.mainText{
  font-size: 17px;
  font-weight:bolder;
}

.subText{
  font-size: 16px;
  font-weight: 300;

}

.card{
  width:30%;
  height:100px;
  border-radius:7px;
  border:1px solid red;
}

.color{
  color:#199C16;
}


.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.mainBtn{
  border: 1px solid #199C16;
}

.main{
  display:flex;
  justify-content:end;
}

.bgBtn{
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  background-color: #199C16;
}

.footer {
  text-align: center;
}

.footerList{
  display:flex;
  justify-content: center;
  padding-top:10px;
}

.footerItem{
  font-size: 14px;
  font-weight:300;
  padding-right: 45px;
}


/* .btn:active {
  transform: scale(1.20);
} */
